$delay-between-announcements: 0.3;

#announcements {
    position: fixed;
    width: 100%;
    z-index: 1;

    p {
        position: relative;
        background-size: 20px 20px;
        box-shadow: 0 5px 0 hsla(0, 0%, 0%, .1);
        background-color: #3F65D7;
        color: #f6f6f6;
        display: block;
        font: bold 16px/40px sans-serif;
        text-align: center;
        text-decoration: none;
        left: -100%;
        width: 100%;
        margin-bottom: 0;
        cursor: pointer;

        @for $child-index from 1 through 5 {
            &:nth-child(#{$child-index}) {
                z-index: 5 - $child-index;
                -webkit-animation: announcement #{($child-index * $delay-between-announcements) + 1}s ease forwards;
                -moz-animation: announcement #{($child-index * $delay-between-announcements) + 1}s ease forwards;
                -ms-animation: announcement #{($child-index * $delay-between-announcements) + 1}s ease forwards;
                -o-animation: announcement #{($child-index * $delay-between-announcements) + 1}s ease forwards;
                animation: announcement #{($child-index * $delay-between-announcements) + 1}s ease forwards;
            }
        }

        &:after {
            position: absolute;
            content: '❌';
            top: 0;
            right: 1em;
            color: #f6f6f6;
        }

        span {
            &:hover:after {
                background: hsla(0, 0%, 0%, .8);
                border-radius: 3px;
                color: #f6f6f6;
                content: 'Click to dismiss';
                font: bold 12px/30px sans-serif;
                height: 30px;
                left: 50%;
                margin-left: -60px;
                position: absolute;
                text-align: center;
                top: 50px;
                width: 120px;
            }

            &:hover:before {
                border-bottom: 10px solid hsla(0, 0%, 0%, .8);
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                content: '';
                height: 0;
                left: 50%;
                margin-left: -10px;
                position: absolute;
                top: 40px;
                width: 0;
            }
        }
    }
}


/* Animation */

@-webkit-keyframes announcement {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        left: 0;
    }
}

@-moz-keyframes announcement {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        left: 0;
    }
}

@-ms-keyframes announcement {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        left: 0;
    }
}

@-o-keyframes announcement {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        left: 0;
    }
}

@keyframes announcement {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        left: 0;
    }
}