@import 'announcements';
@import 'dark';

$brand-primary-background: #d0d0d0;
$brand-primary: #322d2a;

.mt-1 {
    margin-top: 1em;
}

img.lazy[src*="loader.svg"] {
    padding: .5em;
    border-radius: 100%;
    background-color: transparent;

    &.invert {
        -webkit-filter: invert(.8);
        filter: invert(.8);
    }
}

strong {
    a {
        text-decoration: none;
        border-bottom: unset;
        font-weight: 600;
    }
}

small {
    font-size: .85em;

    a {
        text-decoration: none;
        border-bottom: unset;
    }
}

#header {
    h1 {
        span {
            font-size: 0.7em;
            display: block;
            margin-top: .25em;

            small {
                font-size: 0.9em;
            }
        }
    }

    h4 {
        margin: 0;
        font-size: 1em;

        @include breakpoint('<=medium') {
            &:not(:last-child) {
                display: inline-block;
                border-right: 1px solid red;
                padding-right: 0.5em;
                padding-left: 0.15em;
            }
        }

        @include breakpoint('<=small') {
            &:not(:last-child) {
                display: block;
                border-right: unset;
                padding: 0;
            }
        }
    }

    footer {
        position: absolute;
        bottom: 1em;
        left: 0;
    }
}

@include breakpoint('<large') {
    body {
        &.is-loading {
            overflow: visible;
        }

        .full-page-loader {
            display: none;
        }
    }
}

.upsideDown {
    transform: rotateX(180deg);
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

img,
br {
    @extend .noselect;
}

h2.noselect,
.cursor-pointer {
    cursor: pointer;
}

::selection {
    background: #505050;
    color: white;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #505050;
    color: white;
    /* Gecko Browsers */
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: $brand-primary-background;

    @media screen and (max-width: 800px) {
        width: 5px;
    }
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $brand-primary-background;
}

*::-webkit-scrollbar-thumb {
    background-color: $brand-primary;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent)
}

.hidden {
    display: none;
}

.max-h-50 {
    max-height: 50px;
}

li>a>img {
    margin-bottom: -5px;
    max-height: 1.75em;
    max-width: 1.75em;
}

.icon.icon-2x {
    font-size: 32pt;
}

.h-card,
.p-name,
.u-url,
.u-logo,
.u-photo,
.p-category,
.p-note {
    display: none;
}