.label {
    display: inline;
    padding: .2em .6em .3em;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.color-ruby {
    color: #BE1F25;
}

.color-entelect {
    color: #004C8E;
}

.label-vuma,
.label-vuma[href]:hover,
.label-vuma[href]:focus {
    color: #000000;
    background-color: #FF52A6;
}

.label-endeavour,
.label-endeavour[href]:hover,
.label-endeavour[href]:focus {
    color: #292929;
    background-color: #AE8C5E;
}

.label-entelect,
.label-entelect[href]:hover,
.label-entelect[href]:focus {
    background-color: #004C8E;
}

.label-entelectgreen,
.label-entelectgreen[href]:hover,
.label-entelectgreen[href]:focus {
    background-color: #91C322;
}

.label-kurt,
.label-kurt[href]:hover,
.label-kurt[href]:focus {
    background-color: #505050;
}

.label-ruby,
.label-ruby[href]:hover,
.label-ruby[href]:focus {
    background-color: #BE1F25;
}

.label-kes,
.label-kes[href]:hover,
.label-kes[href]:focus {
    background-color: #005936;
}

.label-uj,
.label-uj[href]:hover,
.label-uj[href]:focus {
    color: #292929;
    background-color: #ff9f39;
}

.label-orange,
.label-orange[href]:hover,
.label-orange[href]:focus {
    background-color: #ff9f39;
}

.label-pink,
.label-pink[href]:hover,
.label-pink[href]:focus {
    background-color: #ff3399;
}

.label-default,
.label-default[href]:hover,
.label-default[href]:focus {
    background-color: #5e5e5e;
}

.label-primary,
.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #286090;
}

.label-success,
.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #449d44;
}

.label-info,
.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #31b0d5;
}

.label-warning,
.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #ec971f;
}

.label-danger,
.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #c9302c;
}

.label-remoteconfigs,
.label-remoteconfigs[href]:hover,
.label-remoteconfigs[href]:focus {
    background-color: #4BC18F;
}

.label-bts,
.label-bts[href]:hover,
.label-bts[href]:focus {
    background-color: #227FDC;
}

.label-hollard,
.label-hollard[href]:hover,
.label-hollard[href]:focus {
    background-color: #441E45;
}

.label-tennodex,
.label-tennodex[href]:hover,
.label-tennodex[href]:focus {
    background-image: linear-gradient(135deg, #44C9FF, #960ACC);
}

.label-iot,
.label-iot[href]:hover,
.label-iot[href]:focus {
    background-color: #4E9B94;
}